@font-face {
	font-family: 'Sfotipy';
	src:url('fonts/Sfotipy.eot?-k1ezn0');
	src:url('fonts/Sfotipy.eot?#iefix-k1ezn0') format('embedded-opentype'),
		url('fonts/Sfotipy.ttf?-k1ezn0') format('truetype'),
		url('fonts/Sfotipy.woff?-k1ezn0') format('woff'),
		url('fonts/Sfotipy.svg?-k1ezn0#Sfotipy') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Sfotipy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-usuario:before {
	content: "\e971";
}
.icon-buscar:before {
	content: "\e986";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-favorito:before {
	content: "\e9d7";
}
.icon-love:before {
	content: "\e9da";
}
.icon-add:before {
	content: "\ea0a";
}
.icon-play:before {
	content: "\ea1c";
}
.icon-pause:before {
	content: "\ea1d";
}
.icon-stop:before {
	content: "\ea1e";
}
.icon-retroceder:before {
	content: "\ea1f";
}
.icon-adelantar:before {
	content: "\ea20";
}
.icon-primero:before {
	content: "\ea21";
}
.icon-ultimo:before {
	content: "\ea22";
}
.icon-volumen:before {
	content: "\ea26";
}
.icon-mute:before {
	content: "\ea2a";
}
.icon-aleatorio:before {
	content: "\ea30";
}
.icon-compartir:before {
	content: "\ea7d";
}
.icon-correo:before {
	content: "\ea86";
}
